.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
	font-family: 'Roboto Condensed', serif;
}

.main {
	display: flex;
	justify-content: center;
}
.color-guide {
	margin: 20px 40px;
}
h5 {
	margin-bottom: 10px;
}
.user {
	padding: 7px 15px;
	border-radius: 4px;
	color: white;
	font-size: 13px;
	font-weight: bold;
	background: #EE92C2;
	margin: 10px 0;
}
.guest {
	background: #F0C987;
	color: white;
}

.clear-button {
	padding: 7px 15px;
	border-radius: 4px;
	color: white;
	font-size: 13px;
	font-weight: bold;
	background: #33cc00;
	margin: 10px 0;
	position: absolute;
	right: 0;

}
